<% include ./layout/head.ejs %>
    <% include ./partials/nav.ejs %>

        <div class="all-container w-full py-5 px-12">
            <section class="all-cards">
                <section class="cards">
                    <% posts.forEach((post)=>{ %>
                        <div>
                            <div class="card w-full cursor-pointer">
                                <% if (post.postImage.mimeType.startsWith('image/')) { %>
                                    <img src="/posts/<%= post?.postImage.filename %>" alt="Post is of <%= post.title %>"
                                        class="card-media rounded-[20px] pb-2 w-full object-cover" />
                                    <% } else if (post.postImage.mimeType.startsWith('video/')) { %>
                                        <video class="card-media rounded-[20px] pb-2 w-full object-cover"
                                            src="/posts/<%= post.postImage.filename %>"></video>
                                        <% } else { %>
                                            <p>Unsupported file type.</p>
                                            <% } %>
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <%= post.title %>
                                                    </p>
                                                    <div class="card-other-details hidden">
                                                        <p class="card-description hidden">
                                                            <%= post.description %>
                                                        </p>
                                                        <img class="user-prfImg hidden"
                                                            src="/prf-img/<%= post.user.profileImg%>" alt="Post is of <%= post.title%>">
                                                        <p class="user-prfName"><%= post.user.fullname%></p>
                                                    </div>
                                                </div>
                            </div>
                        </div>

                        <% }) %>
                </section>
            </section>
        </div>

        <% include ./partials/scale-posts.ejs %>
            <% include ./layout/foot.ejs %>
                <script src="/javascripts/scale.js" defer></script>